<!DOCTYPE HTML>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Reliably</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">Reliably</a></h1>
			</header>


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<div class="content">
						<h2>Reliably.ai</h2>
						<p>Live System Health Forecasting Powered by AI</p>
					</div>
					<ul class="actions vertical">
						<li><a href="/demo" class="button special major">Demo</a></li>
						<li><a href="#" class="button major">Contact Us</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 split">
				<div class="inner">
					<div class="content">
						<h2>Reliably</h2>
						<p>Reliably brings Artificial Intelligence to prognostics and health monitoring.
                            Our platform captures all of your data in real-time to deliver risk and prognostic analytics for any mechanical,
                            electrical, or structural system.
                        </p>
						<ul class="actions">
							<li><a href="#two" class="button">Our Story</a></li>
						</ul>
					</div>
					<div class="image-circles">
						<div class="images">
							<span class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span>
							<span class="image"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></span>
						</div>
						<div class="images">
							<span class="image"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></span>
							<span class="image"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></span>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<header class="major">
					</header>
					<div class="features">
						<section>
							<span class="icon major fa-cube"></span>
							<h3>Machine Learning</h3>
							<p>Our AI experts adapt recent advancements in deep learning and bayesian approximation algorithms.</p>
						</section>
						<section>
							<span class="icon major fa-file-text"></span>
							<h3>Internet of Things</h3>
							<p>Scalably adapts to your data stream for earlier and improved risk forecasting.</p>
						</section>
						<section>
							<span class="icon major fa-cloud"></span>
							<h3>Usability</h3>
							<p>A reliability engineer can immediately use the platform for risk or prognostic health monitoring. </p>
						</section>

					</div>
					<footer class="major">
						<ul class="actions">
							<li><a href="#three" class="button major">Meet The Team</a></li>
						</ul>
					</footer>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="inner">
					<div class="spotlights">
						<section>
							<span class="image"><img src="{{ url_for('static', filename='images/ceena_modarres.jpg') }}" alt=""/></span>
							<div class="content">
								<h2>Ceena Modarres</h2>
								<p>
									Ceena is a Data Scientist with experience in Machine Learining software development and applied Deep Learning research projects. He received a M.S. in Reliability Engineering at the University of Maryland, College Park in 2016 where he published research on Deep Learning powered computer vision for image based damage identification and classification. He enjoys NBA basketball and exploring New York City.</p>
							</div>
						</section>
						<section>
							<span class="image"><img src="{{ url_for('static', filename='images/mark_ibrahim.jpeg') }}" alt="" /></span>
							<div class="content">
								<h2>Mark Ibrahim</h2>
								<p>Mark is Ceena's tagger on. He is a gibroni who went to gibroni school for a degree in gibroni studies. As a young gibroni, he attended school in upstate New York. He is from New Gibroni.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header>
						<h2>Check out our demo.</h2>
						<p>Our demo displays a generic system for monitoring and failure forecasting.</p>
					</header>
					<ul class="actions">
						<li><a href="/demo" class="button special major">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
					</ul>
					<ul class="contact">
						<li>New York, NY</li>
					</ul>
					<ul class="links">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<p class="copyright">&copy; One day... We will copyright.</p>
				</div>
			</footer>

		<!-- Scripts -->
            <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.scrollex..min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>