<!DOCTYPE HTML>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Reliably</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">Reliably</a></h1>
			</header>


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<div class="content">
						<h2>Reliably.ai</h2>
						<p>Live System Health Forecasting Powered by AI</p>
					</div>
					<ul class="actions vertical">
						<li><a href="#" class="button special major">Demo</a></li>
						<li><a href="#" class="button major">Contact Us</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 split">
				<div class="inner">
					<div class="content">
						<h2>Reliably</h2>
						<p>Reliably brings Artificial Intelligence to prognostics and health monitoring.
                            Our platform captures all of your data in real-time to deliver risk and prognostic analytics for any mechanical,
                            electrical, or structural system.
                        </p>
						<ul class="actions">
							<li><a href="#two" class="button">Our Story</a></li>
						</ul>
					</div>
					<div class="image-circles">
						<div class="images">
							<span class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span>
							<span class="image"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></span>
						</div>
						<div class="images">
							<span class="image"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></span>
							<span class="image"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></span>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<header class="major">
						<h2>Reliably &amp; You</h2>
						<p>actionable prognostics</p>
					</header>
					<div class="features">
						<section>
							<span class="icon major fa-cube"></span>
							<h3>Machine Learning</h3>
							<p>Our AI experts adapt recent advancements in deep learning and bayesian approximation algorithms.</p>
						</section>
						<section>
							<span class="icon major fa-file-text"></span>
							<h3>Internet of Things</h3>
							<p>Scalably adapts to your data stream for earlier and improved risk forecasting.</p>
						</section>
						<section>
							<span class="icon major fa-cloud"></span>
							<h3>Usability</h3>
							<p>A reliability engineer can immediately use the platform for risk or prognostic health monitoring. </p>
						</section>

					</div>
					<footer class="major">
						<ul class="actions">
							<li><a href="#three" class="button major">Meet The Team</a></li>
						</ul>
					</footer>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="inner">
					<div class="spotlights">
						<section>
							<span class="image"><img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" /></span>
							<div class="content">
								<h2>Convallis integer iaculis</h2>
								<p>Donec elementum odio ut suscipit congue. Fusce magna mattis vel fermentum, ultricies et velit. Suspendisse viverra, ante in eleifend vulputate, lacus lorem pretium ligula, tincidunt posuere sapien neque a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
							</div>
						</section>
						<section>
							<span class="image"><img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" /></span>
							<div class="content">
								<h2>Ultrices augue faucibus</h2>
								<p>Donec elementum odio ut suscipit congue. Fusce magna mattis vel fermentum, ultricies et velit. Suspendisse viverra, ante in eleifend vulputate, lacus lorem pretium ligula, tincidunt posuere sapien neque a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
							</div>
						</section>
						<section>
							<span class="image"><img src="{{ url_for('static', filename='images/pic07.jpg') }}" alt="" /></span>
							<div class="content">
								<h2>Integer sed sodales</h2>
								<p>Donec elementum odio ut suscipit congue. Fusce magna mattis vel fermentum, ultricies et velit. Suspendisse viverra, ante in eleifend vulputate, lacus lorem pretium ligula, tincidunt posuere sapien neque a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header>
						<h2>Sed vitae massa curabitur</h2>
						<p>Ipsum quis semper consequat, sem nibh mattis arcu, quis porttitor lorem justo in tellus. Aenean lacinia<br />
						interdum nisl felis et dui viverra, nec accumsan tempus quam ultricies.</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button special major">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
					</ul>
					<ul class="contact">
						<li>New York, NY</li>
					</ul>
					<ul class="links">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<p class="copyright">&copy; Untitled. All rights reserved. Lorem ipsum dolor.</p>
				</div>
			</footer>

		<!-- Scripts -->
            <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.scrollex..min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>